.app::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('./assets/ace.svg'), url('./assets/diamond.svg'), url('./assets/club.svg'), url('./assets/heart.svg');
  background-size: 200px;
  background-position: 145% 3%, -30% 40%, 130% 70%, -1% 102%;
  opacity: .5;
  z-index: -1;
}

.app {
  position: relative;
}


@media screen and (min-width: 700px) {
  .app::before {
    background-position: 100% 3%, -5% 40%, 102% 70%, -1% 103%;
  }
}

@media screen and (min-width: 1200px) {
  .app::before {
    background-size: 400px;
  }
}
