@tailwind components;

@layer components {
  .home {
    /* @apply bg-amber-400; */
  }

  .header_wrapper {
    @apply lg:max-w-5xl mx-auto px-2 pt-5;
    border-bottom: 1px solid #006D77;
  }

  .header {
    @apply mx-4 lg:mx-0 mb-12 relative;
  }
  
  .header_top {
    @apply flex flex-row justify-between px-2 mb-8 lg:mx-6;
  }

  .header_top h1 {
    @apply text-3xl;
    color: #006D77
  }

  .header_top button {
    @apply text-white text-xs rounded-md p-2 my-auto;
    background-color: hsl(245, 87%, 28%);
  }

  .header_top h3 {
    @apply text-sm;
    color: #83C5BE;
  }

  .header_top span {
    @apply block lg:inline-block lg:ml-2;
    font-weight: 600;
  }

  
  .header_bottom {
    @apply absolute;
    bottom: -4.2rem;
    width: 100%;
    
  }

  .header_bottom ul {
    @apply flex justify-center lg:justify-end lg:mr-6;

  }

  .header_bottom ul li {
    @apply rounded-full w-9 h-9 p-1;
    border: 2px solid #006D77;
    background-color: #F0F3F4;
  }
  
  .socials {
    @apply w-8/12 mx-2;
  }

  .main {
    @apply lg:max-w-6xl mx-auto;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro {
    @apply bg-white w-11/12;
  }

  .intro h1,
  .projects h1 {
    @apply text-4xl my-7 ml-8;
    font-family: "Poppins", san-serif;
    color: #6F686D;
  }

  .intro figure {
    @apply relative lg:max-w-3xl mx-auto;
  }

  .intro figcaption {
    @apply absolute w-full py-10 px-7 md:w-6/12 text-xl;
    bottom: 5px;
    top: 0;
    background-color: white;
    opacity: 0.8;
    color: #320E3B;
  }

  .intro figcaption h2 {
    @apply text-4xl md:text-6xl md:mt-8;
    font-weight: 600;

  }

  .intro figcaption p {
    @apply text-2xl md:text-3xl;
    font-family: "Poppins", san-serif;
  }

  .intro figcaption span:first-child {
    @apply underline;
    font-weight: 600;
  }

  .intro figcaption span:last-child {
    @apply text-base;
  }

  .more_info {
    @apply mx-auto w-10/12 my-8 italic;
  }

  .more_info p {
    @apply my-5 text-justify text-base md:text-lg;
  }

  .stack {
    @apply my-8;
  }

  .stack h1 {
    @apply text-left italic text-2xl mx-8;
    color: #6F686D;
  }

  .projects {
    @apply w-11/12;
  }
}

.footer {
  width: 100%;
  padding: 2rem 0 ;
  border-top: 1px solid #eaeaea;
  background-color: #83C5BE;
  display: flex;
  justify-content: center;
  align-items: center;
}